[defaults]
interpreter_python = auto_silent
collections_path = ./collections
roles_path = ./roles
stdout_callback = ansible.builtin.default
result_format = yaml
bin_ansible_callbacks = True
callbacks_enabled = profile_tasks
remote_tmp = /tmp/.ansible_remote/tmp
local_tmp = /tmp/.ansible_local/tmp
log_path = ./.ansible.log
localhost_warning = False
ansible_python_interpreter = ./.venv/bin/python
deprecation_warnings=False

[inventory]
inventory_unparsed_warning = False
