hostname={{ hostname }}
primarynameserver={{ primarynameserver }}
dnsdomain={{ dnsdomain }}
primaryntpserver={{ primaryntpserver }}
timezone={{ timezone }}
username={{ username }}
password={{ password }}
ersapi={{ ersapi }}
pxGrid={{ pxgrid }}
pxgrid_cloud={{ pxgrid_cloud }}