{
  "scriptFile": "__init__.py",
  "bindings": [
    {
      "authLevel": "{{ az_function_http_auth_level }}",
      "type": "httpTrigger",
      "direction": "in",
      "name": "req",
      "methods": [
        "get",
        "post"
      ]
    },
    {
      "type": "http",
      "direction": "out",
      "name": "$return"
    }
  ]
}
